body {
    font-family: "Host Grotesk", sans-serif;
    margin: 0;
}
table{
    width: 100%;
    height: 70vh;
    color: white;
    background-color: rgb(26, 25, 25);
    
}
td {
    width: 25%;
    text-align: center;
    background-color: rgb(31, 28, 28);
    font-size: 25px;

}

td:hover {
    background-color: rgb(77, 71, 71);
    cursor: pointer;
}

#resultArea {
    height: 30vh;
    background-color: rgb(39, 38, 38);
    color: white;
    font-size: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 24px;
    box-sizing: border-box;


}

#result {
    background-color: rgb(47, 47, 71);
}

#result:hover {
    background-color: rgb(89, 109, 126);
}

.highlight {
    background-color: rgb(25, 25, 25);
}